#meuModal { 
  position: fixed; 
  z-index: 99; 
  left: 0;
  top: 0;
  width: 300px; /*largura*/
  height: 400px;/*altura*/ 
  background-color: rgb(230, 219, 219); 
  border: none;
}
#conteudoPrincipal{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}
h2{
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0 auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#abrirModal{
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#display{
  margin: 0 auto;
  margin-top: 3%;
  display: block;
  width: 60%; /*largura*/
  height: 15%;
  font-size: 40px;
  background: transparent;
  border: none;
  text-align: right;
  outline: none;
}
.numeros{
  font-size: 25px;
  display: flex;
  margin-top: 3%;
  display: grid;
  gap: 12px;
  justify-content: center;
  margin-right: 50px;
}
#botoes-numero{
  grid-template-columns: repeat(3, 80px);
}
#botoes-numero #numero0{
  grid-column: span 3;
}
.operadores{
  display: grid;
  align-items: flex-start;
  gap: 8px;
  justify-content: flex-end;
  margin-top: -124px;
}
